* {
  color: #ebdbb2;
  text-decoration: none;
}

a:link {
  color: #fbebc2;
}
a:visited {
  color: #bdae93;
}
a:hover {
  color: #d3869b;
}
a:active {
  color: #fbebc2;
}

body {
  margin: 0;
  padding: 0;

  text-align: center;
}

nav {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  background-color: #181818;
}

nav a {
  font-size: 20px;
}

.container {
  width: 100vw;
  height: calc(100vh - 80px);

  position: absolute;
  top: 80px;
  overflow: scroll;

  background-color: #282828;
}

.container ul {
  list-style: none;
}
